@media screen and (max-width: 600px) {
    .text-lg {
        font-size: 0.85rem;
        line-height: 1rem;
    }
    .px-2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .text-xl {
        font-size: 0.95rem;
        line-height: 1rem;
        MARGIN-BOTTOM: 10px;
    }

   

  
  }

.rounded{
    border-radius: 1rem;
    z-index: 10;
}

  .auteur{
    text-align: right;
    font-weight: 700;
}
  .nivdate{
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: #6E8464;
  }

  .card{
    border-radius: 20px;
  }

  @media screen and (max-width: 600px) {
   
    .header h1{
        font-size: 1.2rem !important;
        font-weight: 700;
    }

    .text-base {
        font-size: 0.9rem;
        line-height: 1rem;
        /* text-align: justify; */
    }
  }


  .header{
    padding-left: 20px;
    padding-top: 20px;
  }

  .header h1{
    font-size: 2rem;
    font-weight: 700;
}
  
.header p{
    color: #808080;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
  }
  
  .buttonTrickAndTips {
    width: 107px;
    height: 45px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #F6F6F6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }


    .rounded{
        background-color: #ffff;
    }
  
  /* .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  } */


  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
    border-radius: 9%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .note{
    display: flex;
  }

  .button-note,.p-note{
    float: right;
  }

  .button-note{
    padding: 3px;
  }

  .post-container {
    position: relative;
    overflow: hidden;
  }

.circleUp{
  width: 443px;
  height: 438px;
  background: rgba(17,39,3,1);
  opacity: 1;
  position: fixed;
  right: -180px;
  border-radius: 50%;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
}

.Cards{
  max-width: 1195px;
}