@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-text-1);
  box-shadow: var(--shadow-40);
}

header .header-logo-container {
  display: flex;
}
header .header-logo-container p {
  margin: auto 7px auto 0px;
  font-size: 30px;
  font-weight: bold;

  font-family: cursive;
  color: var(--primary_color_2);
}
header .header-logo-container img {
  width: 25px;
  height: 25px;
  margin: auto 0;
}

@media screen and (min-width: 481px) {
  .header-container {
    display: none!important;
  }
}
header .header-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
}
header .header-container svg {
  padding: 0 8px;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  header {
    position: sticky;
    top: 0;
    z-index: 12;
  }
  .desktop-navbar.mobile div .desktop-navbar-closebtn {
    display: block!important;
    z-index: 3;
  }
  .desktop-navbar.mobile div {
    position: fixed;
    display: block!important;
    z-index: 15;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;

    background-color: var(--color-text-1);
    transition: 0.3s;
  }

  .desktop-navbar.mobile div li {
    position: relative;
    justify-content: center;
    width: 100%;
    
    padding: 16px 0;
    margin-top: 30px;
    background-color: unset;
  }
  .desktop-navbar.mobile div li.active{
    background-color: unset;
  }

  .desktop-navbar.mobile div li img{
    display: none;
  }
  .desktop-navbar.mobile div li.active img{
    display: none;
  }
  .desktop-navbar.mobile div li a{
    text-decoration: none;
    display: block;
    font-size: 24px;
    color: var(--secondary_color_5);
    transition: 0.3s;
  }
  
  .desktop-navbar.mobile div li a:hover, .desktop-navbar.mobile div li a:focus {
    color: var(--primary_color_2);
    font-weight: bold;
  }
  
  .desktop-navbar.mobile div .desktop-navbar-closebtn {
    position: absolute;
    right: 45px;
    font-size: 50px;
  }
}
